*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aqua;
}.qism{
  width: 500px;
  height: 500px;
  position: relative;
  top: 100px;
  bottom: 100px;
  border: 6px solid white;
  border-radius: 20px;
  margin: auto;
  background-color: white;
}.sh{
  width: 170px;
  height: 170px;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #f10a19;
  border-radius: 20px;
  animation: bir 3s linear infinite;
  animation-delay: 0.5s;
}.e{
  width: 170px;
  height: 170px;
  position: absolute;
  top: 50px;
  left: 270px;
  background-color: #15ee0e;
  border-radius: 20px;
  animation: ikki 3s linear infinite;
  animation-delay: 0.25s;
}.r{
  width: 170px;
  height: 170px;
  position: absolute;
  top: 270px;
  left: 270px;
  background-color: #faea06;
  border-radius: 20px;
  animation: uch 3s linear infinite;
}@keyframes uch{
  0%{top: 270px; left: 270px;}
  8.3333%{top: 270px; left: 50px;}
  24.9999%{top: 270px; left: 50px;}
  33.3332%{top: 50px; left: 50px;}
  49.9998%{top: 50px; left: 50px;}
  58.3328%{top: 50px; left: 270px;}
  74.9994%{top: 50px; left: 270px;}
  83.3327%{top: 270px; left: 270px;}
  100%{top: 270px; left: 270px;}
}@keyframes ikki{
  0%{top: 50px; left: 270px;}
  8.3333%{top: 270px; left: 270px;}
  24.9999%{top: 270px; left: 270px;}
  33.3332%{top: 270px; left: 50px;}
  49.9998%{top: 270px; left: 50px;}
  58.3328%{top: 50px; left: 50px;}
  74.9994%{top: 50px; left: 50px;}
  83.3327%{top: 50px; left: 270px;}
  100%{top: 50px; left: 270px;}
}@keyframes bir{
  0%{top: 50px; left: 50px;}
  8.3333%{top: 50px; left: 270px;}
  24.9999%{top: 50px; left: 270px;}
  33.3332%{top: 270px; left: 270px;}
  49.9998%{top: 270px; left: 270px;}
  58.3328%{top: 270px; left: 50px;}
  74.9994%{top: 270px; left: 50px;}
  83.3327%{top: 50px; left: 50px;}
  100%{top: 50px; left: 50px;}
}